# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log

# Ignore temporary files
*.tmp
*.bak

# Ignore shapefile fiels
*.shp
*.dbf
*.cpg
*.prj
*.shx
#---

*.zip
*.nc
*.tif
*.csv
# Ignore system files
*.pyc
.cdsapirc
.DS_Store
Thumbs.db